.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 2.25rem;

  border-bottom: 1px solid rgba(117, 117, 117, 0.5);
}

.nav__LeftCon {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: baseline;
  color: var(--col-Sec-grayBlue);
}

.nav__Title {
  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);
  margin-right: 1rem;
  color: black;
}

.nav__NavItem {
  cursor: pointer;
  transition: 1.2s;
}

.nav__NavItem:hover {
  border-bottom: 1px solid var(--col-Prmy-orange);
}

.nav__Cart {
  font-size: 1.5em;

  cursor: pointer;
}
.nav__Image {
  width: 40px;
  height: 40px;

  margin-left: 2.5rem;
}

.ProductSection {
  display: flex;
  padding: 2rem;

  justify-content: center;

  gap: 2rem;
}

.productImgs {
  /* flex-grow: 1; */
  flex: 1 1 50%;
  margin-right: 3rem;

  /* width: 50%; */
}
.productImgs__main {
  width: 100%;
  border-radius: 20px;
}

.productText {
  width: 50%;
  padding: 3rem 0rem;
}

.productText__Title {
  text-transform: uppercase;
  color: var(--col-Prmy-orange);

  font-weight: var(--fw-sec);
  margin-bottom: 2rem;
}

.productText__Name {
  font-size: var(--fs-tri);
  font-weight: var(--fw-sec);
  margin-bottom: 2rem;
}

.productText__Descri {
  width: 70%;
  line-height: 1.5;
  color: var(--col-Sec-grayBlue);
  margin-bottom: 4rem;
}

.productText_Price {
  font-size: 1.75rem;
  font-weight: var(--fw-sec);
  margin-bottom: 0.75rem;
}

.productText_Price-cancel {
  margin-bottom: 2rem;
  font-weight: var(--fw-sec);
  color: var(--col-Sec-grayBlue);
  text-decoration: line-through;
  font-size: 0.95rem;
}
.productText_Price span {
  padding: 0.35em;
  font-weight: var(--fw-sec);
  font-size: 0.95rem;

  margin-left: 1rem;

  background-color: var(--col-Prmy-PaleOrange);
  color: var(--col-Prmy-orange);
}

.counter {
  display: inline-flex;
  gap: 0.75rem;
  padding: 0.75em;
  border-radius: 5px;
  background-color: rgba(104, 112, 125, 0.1);

  align-items: baseline;
}

.productQ {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.btn {
  border: none;
  padding: 0em 1em;
  font-size: var(--fs-prmy-mid);
  font-weight: var(--fw-sec);
  cursor: pointer;

  color: var(--col-Prmy-orange);
  background-color: rgba(104, 112, 125, 0);
}

.counter__count {
  max-width: 10%;
  font-weight: var(--fw-sec);
}

.product__Btn {
  border: none;
  padding: 0.75em 2.5em;
  border-radius: 10px;
  background-color: rgba(104, 112, 125, 0.1);

  font-size: var(--fs-prmy-mid);
  font-weight: var(--fw-sec);
  color: var(--col-Sec-white);
  background-color: var(--col-Prmy-orange);

  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav__NavItem {
    display: none;
  }
  .ProductSection,
  .productQ {
    flex-direction: column;
    align-items: center;
  }

  .productImgs {
    flex: 1 0 100%;
  }
  .productText {
    width: 100%;
  }

  .product__Btn,
  .counter {
    width: 100%;
  }
  .counter {
    justify-content: space-between;
  }

  .productText__Descri {
    width: 100%;
  }
}
