@import url("https://fonts.google.com/specimen/Kumbh+Sans");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Variables */

  --ff--prmy: "Kumbh Sans", sans-serif;

  /* Font Weight */
  --fw-prmy: 400;
  --fw-sec: 700;

  /* Font Size */
  --fs-prmy: 1rem;
  --fs-prmy-mid: 1.5rem;
  --fs-sec: 2.25rem;
  --fs-tri: 3rem;

  /* Colours */
  --col-Prmy-orange: hsl(26, 100%, 55%);
  --col-Prmy-PaleOrange: hsl(25, 100%, 94%);

  --col-Sec-DarkBlue: hsl(220, 13%, 13%);
  --col-Sec-grayBlue: hsl(219, 9%, 45%);
  --col-Sec-lGrayBlue: hsl(223, 64%, 98%);
  --col-Sec-white: hsl(0, 0%, 100%);
  --col-Sec-black: rgba(0, 0, 0, 0.75);

  /* Mobile size 375 and Desktop 1440 */
}

.App {
  max-width: 1440px;
  min-width: 375px;

  padding: 3rem;

  font-size: var(--fs-prmy);
  font-weight: var(--fw-prmy);
  font-family: var(--ff--prmy);
}
